/*********** HTML Tags ***********/
body
    {
        margin: 0;
    }



/*********** Classes ***********/
.topnav
    {
        overflow: hidden;
        background-color: transparent;
        border-bottom: 1.1px solid gray;
    }
.topnav  a
    {
        float: left;
        text-align: center;
        padding: 20px 60px;
        text-decoration: none;
        font-size: 18px;
    }
.topnav-right a:hover
    {
        background-color: lightgrey;
    }
    
.topnav-right
    {
        float: right;
        padding-right: 20%;
        color: black;
    }
.big-name
    {
        margin-left: 200px;
        color:#8fcfd1;
        font-size: 3.5rem;
        font-family: 'Lemonada', cursive;
    }
.menus
    {
        color: Gray;
    }

.the-body
    {
        margin-top: 60px;
        height: auto;
    }

.Cassie-image
    {
        float: left;
        margin-right: 200px;
        width: auto;

    }
.in-message
{
    text-decoration: none;
    color: #8fcfd1;
}

.message
    {
        font-family: 'Lemonada', cursive;
        font-size: 1.5rem;
        line-height: 2;
    }

.left-table
    {
        float: left;
        color: gray;
        margin-right: 40px;
    }
.right-table
    {
        color: gray;
    }
.Rita
    {
        border-radius: 50%;
        padding-left: 70px;
        width: 70%;
    }

.links
    {
        padding-left: 200px;
    }

.links td
    {
        padding:30px;
    }

/*********** Media Query *********/
/**** Media query to add breakpoint at 100% *********/

@media screen and (max-width:800px)
    {
        .Cassie-image, .message
            {
                width: 100%;
/* The width is 100%, when the viewport is 800px or smaller */
            }
    }